<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<div class="wrapper">
    <header>
        <h1>Pet Spot</h1>
        <nav>
            {{#if loggedIn}}
            <a href="/" class="navbar-item">Homepage</a>
            <a href="/dashboard" class="navbar-item">Dashboard</a>
            <a href="/dashboard/create" class="navbar-item">Write New Post</a>
            <button id="logout" class="button">Logout</button> {{!-- Button should be spaced out to the right. --}}
            {{else}}
            <a href="/" class="navbar-item">Homepage</a>
            <a href="/login" class="button">Login</a>
            {{/if}}
        </nav>
    </header>

    <main>

        {{{body}}}

    </main>

    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</div>

</html>