{{!Comment form - Commented out for now because no time to finish it.}}

{{!-- <div class="row">
    <div class="text-center mx-auto col-lg-10 col-md-8 col-sm-7">
        <form id="comment-form">
            <form action="/api/commentRoutes.js" method="POST"></form>
            <label for="comment">COMMENT</label>
            <div class="form-group">
                <textarea class="form-control" id="comment" placeholder="Enter your comment" rows="3"></textarea>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</div> --}}