<section>

  {{!-- <a href="/dashboard" class="nav"> &larr; Back to Dashboard</a> Not needed. This is in dashboard.handlebars --}}
  <h2 class="title m-3">Create New Post</h2>
  <hr>

  <form class="new-post-form m-3">

    <div class="m-3">
      <label for="post-title">Post Title:</label><br>
      <textarea class="textarea is-large" rows="1" cols="40" id="post-title"></textarea>
    </div>

    <div class="m-3">
      <label for="post-content">Content:</label><br>
      <textarea class="textarea is-large" rows="4" cols="40" id="post-content"></textarea>
    </div>

    <button type="submit" class="button is-primary">Create Post </button>

  </form>
</section>

<script src="/js/createPost.js"></script>
