<p class="content is-size-3 m-3 has-text-right has-text-weight-bold">Pet Spot is where pet owners can ask pet-related questions.</p>
<p class="content is-size-4 m-3 has-text-right is-italic">Feel free to ask your question in the "voice" of your own pet!</p>

{{#each posts as |post|}}

{{> post-info post }}
</div>

{{else}}
<h6 class="post">There are no posts right now.</h6>
{{/each}}
