{{! Login/Signup page: }}

<div class="login-container">

    <div class="logo">
        {{!-- <img src="/pet spot.png" alt="Pet Spot Logo"> --}}
        {{!-- <img src="{{ logoSrc }}" alt="Pet Spot Logo"> --}}
    </div>

    <h2>Login</h2> {{! Login only needs username and password: }}
    <form class="login-form">
        <input class="login-input" type="text" placeholder="username" id="username-login" >
        <input class="login-input" type="password" placeholder="password" id="password-login">
        <button class="login-button" type="submit" id="button-login">Login</button>
    </form>

    <h2>Signup</h2> {{! Signup needs username, password, and email: }}
    <form class="signup-form">
        <input class="signup-input" type="text" placeholder="username" id="username-signup">
        <input class="signup-input" type="password" placeholder="password" id="password-signup">
        <input class="signup-input" type="text" placeholder="email" id="email-signup">
        <button class="create-button" type="submit" id="button-create">Create</button>
    </form>

</div>

<script src="/js/login.js"></script>
