<div class="login-container">

    <div class="image-container has-text-centered m-3">
        <img src="/pet-spot-logo-small.png" alt="Pet Spot Logo">
    </div>

    <h2 class="has-text-centered">Returning user? Login:</h2>

        <form class="login-form container has-text-centered">

            <div class="control m-3">
                <input class="login-input" type="text" placeholder="Username" id="username-login">
            </div>

            <div class="control m-3">
                <input class="login-input" type="password" placeholder="Password" id="password-login">
            </div>

            <div class="control m-3">
                <button class="button is-info" type="submit" id="button-login">Login</button>
            </div>

        </form>
        
    <h2 class="has-text-centered">New user? Sign up!</h2> 
        
        <form class="signup-form container has-text-centered">

            <div class="control m-3">
                <input class="signup-input" type="text" placeholder="Create a username" id="username-signup">
            </div>

            <div class="control m-3">
                <input class="signup-input" type="password" placeholder="Create a password" id="password-signup">
            </div>

            <div class="control m-3">
                <input class="signup-input" type="text" placeholder="Enter your email address" id="email-signup">
            </div>

            <div class="control m-3">
                <button class="button is-info" type="submit" id="button-create">Create</button>
            </div>

        </form>

</div>

<script src="/js/login.js"></script>